$card-width: 200px;
$card-padding-x: 16px;
$main-color: #060b35;
$secondary-color: #616070;
$accent-color: #00acdc;
$card-border-color: #f3f3f3;
$white-color: #fff;
$button-radius: 5px;
$button-height: 40px;
$star-size: 16px;
$stars-width: 96px;
